
.Home {
    background-color: #303030;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    overflow-y: auto;

}


.container{
    background-color: transparent;
    width: 100%;
    padding: 25px;
    gap: 25px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}