.box-group{
    background-color: transparent;
    padding: 15px;
    max-width: 100%;
    margin: 10px;
    margin-top: 75px;
    box-shadow: 1px 1px 6px #0000003c;
}

.input-group{
    background-color: transparent;
    margin: 10px;
    
}